/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cont{
        width: 100%;
        height: 90vh;
        background-color: rgb(167, 143, 235);
    }
    .header{
        background-color: aqua;
        width: 100%;
        height: 120px;
    
    }
    .logo{
        display: inline-block;
        float: left;
        padding: 10px;
    }
    .logo img{
     height: 50px;
     width: 50px;
    }
    .logo h3{
        float: right;
        font-size: 15px;
        padding-left: 10px;
      
    }
    .menu{
        float: right;
        padding-right: 20px;
        line-height: 60px;
        
    
    }
    .menu ul li a{
        text-decoration: none;
        color: black;
    }
    .menu ul li{
        display: inline-block;
        padding-left: 10px;
        text-decoration: none;
        
    }
    .menu ul li a:hover{
        background-color: yellow;
        padding: 5px 0;
        color: red;
    }
    /* Slider part start */
    .slider{
        background: linear-gradient(rgba(235, 130, 152, .8), rgba(86, 223, 86, .6)), url(assets/images/img1.png) ;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;    
    }
    .slider h1{
        position: absolute;
        top: 15%;
        left: 25%;
        font-size: 25px;
    }
    .slider p{
        position: absolute;
        top: 20%;
        left: 20%;
        text-align: center;
        font-size: 15px;
    }
    .slider a{
        position: absolute;
        top: 30%;
        left: 45%;
        text-align: center;
        color: rgb(62, 20, 214);
        text-decoration: none;
        border: 3px solid red;
        padding: 5px;
        background-color: rgb(94, 218, 218);
        border-radius: 20px;
        border-left-color: black;
        border-top-color: blue;
        border-bottom-color: yellow;   
    }
    .slider a:hover{
        color: palevioletred;
    }
}